<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mes progrès en tant que développeur</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
          <link rel="stylesheet" href="app.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/70fabb1b7e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header-dashboard">
            <nav class="nav-dashboard">
                <a href="/new_progress">Nouveau progrès</a>
            </nav>
        </header>
        <main class="main-dashboard">
            <div class="history-filter_container">
                <span>Mes progrès en développement web</span>
            </div>
                <table class="table-history">
                    <thead>
                        <tr class="header-lign-table">
                            <th class="header-table">DATE</th>
                            <th class="header-table">TECHNOLOGIE</th>
                            <th class="header-table">DESCRIPTION</th>
                            <th class="header-table">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prog in progress %}
                        <tr class="lign-table">
                            <td>{{ prog.date|date('d/m/Y') }}</td>
                            <td>{{ prog.techno }}</td>
                            <td>{{ prog.description }}</td>
                            <td class="buttons-container">

                                <a href="{{ url("modifyprogress", {"id":prog.id }) }}">
                                    <button class="button-table" id="modify-button">Modifier</button>
                                </a>

                                <a href="{{ path('deleteprogress', {'id': prog.id }) }}" id="delete-button" onclick="return confirmDelete(event)">Supprimer</a>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                        
        </main>
                    
    </body>
    <script src="script.js"></script>
</html>
